{% extends "layout.html" %}
{% block content %}
    {% for category in categories %}
       <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + category.staff.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a c lass="mr-2">Created by :{{ category.staff.username }}</a>
              <medium class="text-muted">Date :{{ category.pub_date.strftime('%d-%m-%Y') }}</medium>
              <medium class="text-muted">Time :{{ category.pub_date.strftime('%H:%M') }}</medium>
            </div>
             
            
                <h1><a class= article-title href="{{ url_for('contents.info', category_id=category.id)}}">{{ category.title }}</a></h1>
        
            </div>
        </article>        
    {% endfor %}
     {% for result in results %}
       <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + result.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a c lass="mr-2">Answered By :{{ result.author.username }}</a>
              <medium class="text-muted">Date :{{ result.pub_date.strftime('%d-%m-%Y') }}</medium>
              <medium class="text-muted">Time :{{ result.pub_date.strftime('%H:%M') }}</medium>
            </div>
             
            
                <h1><a class= article-title href="">Title :{{ result.name }}</a></h1>
                 <h4><a class= article-title href="">Result :{{ result.selection }}</a></h4>
                  <h4><a class= article-title href="">Self Evaluation :{{ result.response }}</a></h4>
                   <h4><a class= article-title href="">Obtained Score :{{ result.score }}</a></h4>
                 
        
            </div>
        </article>        
    {% endfor %}



{% endblock content %}